* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
button {
	padding: 10px;
	border: none;
	outline: none;
	background: white;
	border-radius: 10px;
	width: 200px;
	height: 80px;
	box-shadow: 0px 0px 20px blue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	cursor: pointer;
	
}
.fas {
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}